body{
    text-align: center;
    font: size 34px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white ;
    color: black;
} 
#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border:1px solid red;
    margin: auto;

}
#container h1{
    color:red;
    font-size: 50px;

}
#cabecera{
    background-color:blue;
    text-align: left;
    color:white;
    font: size 100px;
    padding: 20, 100, 20, 0;
    
}